---
name: Initiative Definitions

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/initiative-definitions.yml
      - modules/policies/initiatives/**

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/initiative-definitions.yml
      - modules/policies/initiatives/**

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1
      - name: Run Pester Tests
        run: Invoke-Pester -Path modules/policies/scripts/Test-Initiative.Tests.ps1 -CI
        shell: pwsh

  canary:
    name: Canary
    runs-on: ubuntu-latest
    needs:
      - test
    environment:
      name: Canary
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1
      - name: Login to Azure
        uses: azure/login@v2.2.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Compare Initiatives
        uses: azure/powershell@v2
        with:
          inlineScript: |
            $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
            ./modules/policies/scripts/Compare-Initiative.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest
      - name: Build Template
        run: |
          $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
          $stagingDirectory = "${{ runner.temp }}"
          ./modules/policies/scripts/Build-InitiativeTemplate.ps1 -ManagementGroupId $managementGroupId
        shell: pwsh
      - name: Validate Deployment
        uses: azure/arm-deploy@v2
        with:
          deploymentName: initiative-definitions-canary-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/policies/initiatives/main.bicep
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2
        with:
          deploymentName: initiative-definitions-canary-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/policies/initiatives/main.bicep
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@v2
        if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'pull_request' }}
        with:
          deploymentName: initiative-definitions-canary-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/policies/initiatives/main.bicep

  prod:
    name: Production
    runs-on: ubuntu-latest
    needs:
      - test
    environment:
      name: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1
      - name: Login to Azure
        uses: azure/login@v2.2.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Compare Initiatives
        uses: azure/powershell@v2
        with:
          inlineScript: |
            $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
            ./modules/policies/scripts/Compare-Initiative.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest
          errorActionPreference: ${{ github.ref == 'refs/heads/main' && 'Stop' || 'Continue' }}
      - name: Build Template
        run: |
          $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
          $stagingDirectory = "${{ runner.temp }}"
          ./modules/policies/scripts/Build-InitiativeTemplate.ps1 -ManagementGroupId $managementGroupId
        shell: pwsh
      - name: Validate Deployment
        uses: azure/arm-deploy@v2
        with:
          deploymentName: initiative-definitions-production-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/policies/initiatives/main.bicep
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2
        with:
          deploymentName: initiative-definitions-production-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/policies/initiatives/main.bicep
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@v2
        if: github.ref == 'refs/heads/main'
        with:
          deploymentName: initiative-definitions-production-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/policies/initiatives/main.bicep
