---
name: Initiative Definitions

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/initiative-definitions.yml
      - modules/policies/initiatives/**

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/initiative-definitions.yml
      - modules/policies/initiatives/**

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-canary:
    name: Build Canary
    runs-on: ubuntu-latest
    environment:
      name: Canary
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Build Template
        run: |
          $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
          $stagingDirectory = "${{ runner.temp }}"
          ./modules/policies/scripts/Build-InitiativeTemplate.ps1 -ManagementGroupId $managementGroupId
          az bicep build --file modules/policies/initiatives/main.bicep --outfile "$stagingDirectory/main.json"
        shell: pwsh
      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: canary
          path: "${{ runner.temp }}"

  build-prod:
    name: Build Production
    runs-on: ubuntu-latest
    environment:
      name: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Build Template
        run: |
          $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
          $stagingDirectory = "${{ runner.temp }}"
          ./modules/policies/scripts/Build-InitiativeTemplate.ps1 -ManagementGroupId $managementGroupId
          az bicep build --file modules/policies/initiatives/main.bicep --outfile "$stagingDirectory/main.json"
        shell: pwsh
      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: prod
          path: "${{ runner.temp }}"

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Pester Tests
        run: Invoke-Pester -Path modules/policies/scripts/Test-Initiative.Tests.ps1 -CI
        shell: pwsh

  validate-canary:
    name: Validate Canary
    needs:
      - build-canary
      - test
    runs-on: ubuntu-latest
    environment:
      name: Canary
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: canary
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Compare initiatives
        uses: azure/powershell@v1
        with:
          inlineScript: |
            $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
            ./modules/policies/scripts/Compare-Initiative.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest
      - name: Validate Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: main.json
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: main.json
          additionalArguments: --what-if

  validate-prod:
    name: Validate Production
    needs:
      - build-prod
      - test
    runs-on: ubuntu-latest
    environment:
      name: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: prod
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Compare Initiatives
        uses: azure/powershell@v1
        with:
          inlineScript: |
            $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
            ./modules/policies/scripts/Compare-Initiative.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest
          errorActionPreference: ${{ github.ref == 'refs/heads/main' && 'Stop' || 'Continue' }}
      - name: Validate Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: main.json
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: main.json
          additionalArguments: --what-if

  deploy-canary:
    name: Deploy Canary
    needs:
      - validate-canary
    runs-on: ubuntu-latest
    environment:
      name: Canary
    steps:
      - name: download artifact
        uses: actions/download-artifact@v4
        with:
          name: canary
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Deploy Resources
        uses: azure/arm-deploy@v2
        with:
          deploymentName: initiative-definitions-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: main.json

  deploy-prod:
    name: Deploy Production
    needs:
      - validate-prod
    runs-on: ubuntu-latest
    environment:
      name: Production
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - name: download artifact
        uses: actions/download-artifact@v4
        with:
          name: prod
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy Resources
        uses: azure/arm-deploy@v2
        with:
          deploymentName: initiative-definitions-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: main.json
...
