---
name: Management Groups

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/management-groups.yml
      - environments/canary/management-groups.bicepparam
      - environments/prod/management-groups.bicepparam
      - modules/management-groups/**
      - "!README.md"

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/management-groups.yml
      - environments/canary/management-groups.bicepparam
      - environments/prod/management-groups.bicepparam
      - modules/management-groups/**
      - "!README.md"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  canary:
    name: Canary
    runs-on: ubuntu-latest
    environment:
      name: Canary
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Validate Deployment
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2.0.0
        with:
          deploymentName: management-groups-canary-${{ github.run_id }}-${{ github.job }}
          scope: tenant
          region: ${{ vars.LOCATION }}
          template: modules/management-groups/main.bicep
          parameters: environments/canary/management-groups.bicepparam
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2.0.0
        with:
          deploymentName: management-groups-canary-${{ github.run_id }}-${{ github.job }}
          scope: tenant
          region: ${{ vars.LOCATION }}
          template: modules/management-groups/main.bicep
          parameters: environments/canary/management-groups.bicepparam
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2.0.0
        if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'pull_request' }}
        with:
          deploymentName: management-groups-canary-${{ github.run_id }}-${{ github.job }}
          scope: tenant
          region: ${{ vars.LOCATION }}
          template: modules/management-groups/main.bicep
          parameters: environments/canary/management-groups.bicepparam

  prod:
    name: Production
    runs-on: ubuntu-latest
    environment:
      name: Production
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Validate Deployment
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2.0.0
        with:
          deploymentName: management-groups-production-${{ github.run_id }}-${{ github.job }}
          scope: tenant
          region: ${{ vars.LOCATION }}
          template: modules/management-groups/main.bicep
          parameters: environments/prod/management-groups.bicepparam
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2.0.0
        with:
          deploymentName: management-groups-production-${{ github.run_id }}-${{ github.job }}
          scope: tenant
          region: ${{ vars.LOCATION }}
          template: modules/management-groups/main.bicep
          parameters: environments/prod/management-groups.bicepparam
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@a1361c2c2cd398621955b16ca32e01c65ea340f5 # v2.0.0
        if: github.ref == 'refs/heads/main'
        with:
          deploymentName: management-groups-production-${{ github.run_id }}-${{ github.job }}
          scope: tenant
          region: ${{ vars.LOCATION }}
          template: modules/management-groups/main.bicep
          parameters: environments/prod/management-groups.bicepparam
