---
name: Management

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/management.yml
      - environments/canary/management.bicepparam
      - environments/prod/management.bicepparam
      - modules/management/**
      - "!README.md"

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/management.yml
      - environments/canary/management.bicepparam
      - environments/prod/management.bicepparam
      - modules/management/**
      - "!README.md"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  canary:
    name: Canary
    runs-on: ubuntu-latest
    environment:
      name: Canary
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Login to Azure
        uses: azure/login@v2.2.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Validate Deployment
        uses: azure/arm-deploy@v2.0.0
        with:
          deploymentName: management-canary-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/management/main.bicep
          parameters: environments/canary/management.bicepparam
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2.0.0
        with:
          deploymentName: management-canary-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/management/main.bicep
          parameters: environments/canary/management.bicepparam
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@v2.0.0
        if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'pull_request' }}
        with:
          deploymentName: management-canary-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/management/main.bicep
          parameters: environments/canary/management.bicepparam

  prod:
    name: Production
    runs-on: ubuntu-latest
    environment:
      name: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Login to Azure
        uses: azure/login@v2.2.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Validate Deployment
        uses: azure/arm-deploy@v2.0.0
        with:
          deploymentName: management-production-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/management/main.bicep
          parameters: environments/prod/management.bicepparam
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2.0.0
        with:
          deploymentName: management-production-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/management/main.bicep
          parameters: environments/prod/management.bicepparam
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@v2.0.0
        if: github.ref == 'refs/heads/main'
        with:
          deploymentName: management-production-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: ${{ vars.MANAGEMENT_GROUP_ID }}
          region: ${{ vars.LOCATION }}
          template: modules/management/main.bicep
          parameters: environments/prod/management.bicepparam
