---
name: Policy Remediation

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/policy-remediation.yml

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/policy-remediation.yml

  workflow_dispatch:

  schedule:
    - cron: 0 0 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  canary:
    name: Canary
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment:
      name: Canary
    strategy:
      matrix:
        scopes:
          - managementGroupId: lz-canary
          - managementGroupId: lz-canary-platform
          - managementGroupId: lz-canary-landing-zones-corp
          - managementGroupId: lz-canary-landing-zones-online
          - managementGroupId: lz-canary-landing-zones-online-onboarding
          - managementGroupId: lz-canary-sandbox
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Remediate
        uses: azure/powershell@53dd145408794f7e80f97cfcca04155c85234709 # v2.0.0
        with:
          inlineScript: |
            $managementGroupId = "${{ matrix.scopes.managementGroupId }}"
            ./modules/policies/scripts/Start-PolicyRemediation.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest

  prod:
    name: Production
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment:
      name: Production
    strategy:
      matrix:
        scopes:
          - managementGroupId: lz
          - managementGroupId: lz-platform
          - managementGroupId: lz-landing-zones-corp
          - managementGroupId: lz-landing-zones-online
          - managementGroupId: lz-landing-zones-online-onboarding
          - managementGroupId: lz-sandbox
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Remediate
        uses: azure/powershell@53dd145408794f7e80f97cfcca04155c85234709 # v2.0.0
        with:
          inlineScript: |
            $managementGroupId = "${{ matrix.scopes.managementGroupId }}"
            ./modules/policies/scripts/Start-PolicyRemediation.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest
