---
name: Policy Definitions

"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/policy-definitions.yml
      - modules/policies/definitions/**

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/policy-definitions.yml
      - modules/policies/definitions/**

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Pester Tests
        run: Invoke-Pester -Path modules/policies/scripts/Test-Definition.Tests.ps1 -CI
        shell: pwsh

  canary:
    name: Canary
    needs:
      - test
    runs-on: ubuntu-latest
    environment:
      name: Canary
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Compare Policies
        uses: azure/powershell@v2
        with:
          inlineScript: |
            $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
            ./modules/policies/scripts/Compare-Definition.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest
      - name: Build Template
        run: |
          ./modules/policies/scripts/Build-DefinitionTemplate.ps1
        shell: pwsh
      - name: Validate Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: modules/policies/definitions/main.bicep
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: modules/policies/definitions/main.bicep
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@v2
        if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'pull_request' }}
        with:
          deploymentName: policy-definitions-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: modules/policies/definitions/main.bicep

  prod:
    name: Production
    needs:
      - test
    runs-on: ubuntu-latest
    environment:
      name: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
      - name: Compare Policies
        uses: azure/powershell@v2
        with:
          inlineScript: |
            $managementGroupId = "${{ vars.MANAGEMENT_GROUP_ID }}"
            ./modules/policies/scripts/Compare-Definition.ps1 -ManagementGroupId $managementGroupId
          azPSVersion: latest
          errorActionPreference: ${{ github.ref == 'refs/heads/main' && 'Stop' || 'Continue' }}
      - name: Build Template
        run: |
          ./modules/policies/scripts/Build-DefinitionTemplate.ps1
        shell: pwsh
      - name: Validate Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: modules/policies/definitions/main.bicep
          deploymentMode: Validate
      - name: What-if Deployment
        uses: azure/arm-deploy@v2
        with:
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: modules/policies/definitions/main.bicep
          additionalArguments: --what-if
      - name: Deploy Resources
        uses: azure/arm-deploy@v2
        if: github.ref == 'refs/heads/main'
        with:
          deploymentName: policy-definitions-${{ github.run_id }}-${{ github.job }}
          scope: managementgroup
          managementGroupId: "${{ vars.MANAGEMENT_GROUP_ID }}"
          region: "${{ vars.LOCATION }}"
          template: modules/policies/definitions/main.bicep
